// $import 'colorPalette';

// // color palettes

$blue: #1890ff;
$white: #FFFFFF;
$black: #000000;
$purple: #722ed1;
$green: #52c41a;
$cyan: #13c2c2;
$magenta: #eb2f96;

$blue-1: mix($white, $blue, 10%);
$blue-2: mix($white, $blue,20%);
$blue-3: mix($white, $blue, 30%);
$blue-4: mix($white, $blue, 40%);
$blue-5: mix($white, $blue, 50%);
$blue-6: #1890ff;
$blue-7: mix($white, $blue, 70%);
$blue-8: mix($white, $blue, 80%);
$blue-9: mix($white, $blue, 90%);
$blue-10: mix($white, $blue, 100%);
// $blue-1: color(~`colorPalette("${blue-6}", 1)`);
// $blue-2: color(~`colorPalette("${blue-6}", 2)`);
// $blue-3: color(~`colorPalette("${blue-6}", 3)`);
// $blue-4: color(~`colorPalette("${blue-6}", 4)`);
// $blue-5: color(~`colorPalette("${blue-6}", 5)`);
// $blue-7: color(~`colorPalette("${blue-6}", 7)`);
// $blue-8: color(~`colorPalette("${blue-6}", 8)`);
// $blue-9: color(~`colorPalette("${blue-6}", 9)`);
// $blue-10: color(~`colorPalette("${blue-6}", 10)`);

$purple-1: mix($white, $purple, 10%);
$purple-2: mix($white, $purple, 20%);
$purple-3: mix($white, $purple, 30%);
$purple-4: mix($white, $purple, 40%);
$purple-5: mix($white, $purple, 50%);
$purple-6: #722ed1;
$purple-7: mix($white, $purple, 70%);
$purple-8: mix($white, $purple, 80%);
$purple-9: mix($white, $purple, 90%);
$purple-10: mix($white, $purple, 100%);

$cyan-1: mix($white, $cyan, 10%);
$cyan-2: cmix($white, $cyan, 10%);
$cyan-3: mix($white, $cyan, 10%);
$cyan-4: mix($white, $cyan, 10%);
$cyan-5: mix($white, $cyan, 10%);
$cyan-6: #13c2c2;
$cyan-7: mix($white, $cyan, 10%);
$cyan-8: mix($white, $cyan, 10%);
$cyan-9: mix($white, $cyan, 10%);
$cyan-10: mix($white, $cyan, 10%);

$green-1: mix($white, $green, 10%);
$green-2: mix($white, $green, 20%);
$green-3: mix($white, $green, 30%);
$green-4: mix($white, $green, 40%);
$green-5: mix($white, $green, 50%);
$green-6: #52c41a;
$green-7: mix($white, $green, 70%);
$green-8: mix($white, $green, 80%);
$green-9: mix($white, $green, 90%);
$green-10: mix($white, $green, 100%);

$magenta-1: mix($white, $green, 90%);
$magenta-2: mix($white, $green, 90%);
$magenta-3:mix($white, $green, 90%);
$magenta-4: mix($white, $green, 90%);
$magenta-5: mix($white, $green, 90%);
$magenta-6: #eb2f96;
$magenta-7: mix($white, $green, 90%);
$magenta-8: mix($white, $green, 90%);
$magenta-9: mix($white, $green, 90%);
$magenta-10:mix($white, $green, 90%);

// alias of magenta
$pink-1: mix($white, $green, 90%);
$pink-2: mix($white, $green, 90%);
$pink-3: mix($white, $green, 90%);
$pink-4: mix($white, $green, 90%);
$pink-5: mix($white, $green, 90%);
$pink-6: #eb2f96;
$pink-7: mix($white, $green, 90%);
$pink-8: mix($white, $green, 90%);
$pink-9: mix($white, $green, 90%);
$pink-10: mix($white, $green, 90%);

$red-1: mix($white, $green, 90%);
$red-2: mix($white, $green, 90%);
$red-3: mix($white, $green, 90%);
$red-4: mix($white, $green, 90%);
$red-5: mix($white, $green, 90%);
$red-6: #f5222d;
$red-7: mix($white, $green, 90%);
$red-8: mix($white, $green, 90%);
$red-9: mix($white, $green, 90%);
$red-10: mix($white, $green, 90%);

$orange-1: mix($white, $green, 90%);
$orange-2: mix($white, $green, 90%);
$orange-3: mix($white, $green, 90%);
$orange-4: mix($white, $green, 90%);
$orange-5: mix($white, $green, 90%);
$orange-6: #fa8c16;
$orange-7: mix($white, $green, 90%);
$orange-8: mix($white, $green, 90%);
$orange-9: mix($white, $green, 90%);
$orange-10: mix($white, $green, 90%);

$yellow-1: mix($white, $green, 90%);
$yellow-2: mix($white, $green, 90%);
$yellow-3: mix($white, $green, 90%);
$yellow-4: mix($white, $green, 90%);
$yellow-5: mix($white, $green, 90%);
$yellow-6: #fadb14;
$yellow-7: mix($white, $green, 90%);
$yellow-8: mix($white, $green, 90%);
$yellow-9: mix($white, $green, 90%);
$yellow-10: mix($white, $green, 90%);

$volcano-1: mix($white, $green, 90%);
$volcano-2: mix($white, $green, 90%);
$volcano-3: mix($white, $green, 90%);
$volcano-4: mix($white, $green, 90%);
$volcano-5: mix($white, $green, 90%);
$volcano-6: #fa541c;
$volcano-7: mix($white, $green, 90%);
$volcano-8: mix($white, $green, 90%);
$volcano-9: mix($white, $green, 90%);
$volcano-10: mix($white, $green, 90%);

$geekblue-1: mix($white, $green, 90%);
$geekblue-2: mix($white, $green, 90%);
$geekblue-3: mix($white, $green, 90%);
$geekblue-4: mix($white, $green, 90%);
$geekblue-5: mix($white, $green, 90%);
$geekblue-6: #2f54eb;
$geekblue-7: mix($white, $green, 90%);
$geekblue-8: mix($white, $green, 90%);
$geekblue-9: mix($white, $green, 90%);
$geekblue-10: mix($white, $green, 90%);

$lime-1: mix($white, $green, 90%);
$lime-2:mix($white, $green, 90%);
$lime-3: mix($white, $green, 90%);
$lime-4:mix($white, $green, 90%);
$lime-5: mix($white, $green, 90%);
$lime-6: #a0d911;
$lime-7: mix($white, $green, 90%);
$lime-8: mix($white, $green, 90%);
$lime-9: mix($white, $green, 90%);
$lime-10: mix($white, $green, 90%);

$gold-1: mix($white, $green, 90%);
$gold-2: mix($white, $green, 90%);
$gold-3: mix($white, $green, 90%);
$gold-4: mix($white, $green, 90%);
$gold-5: mix($white, $green, 90%);
$gold-6: #faad14;
$gold-7: mix($white, $green, 90%);
$gold-8: mix($white, $green, 90%);
$gold-9: mix($white, $green, 90%);
$gold-10: mix($white, $green, 90%);
